# Geral
log
.log
docker-compose.yml

# Nodeks

node_modules
.next

.error

.env

Backend/.env

*.test.*

# Python

__pycache__

# Docker

Voluemes/Bot
Volumes/Backend
./openFile.cpp
Storage
dist
.vercel
.env*.local
