# Geral
log
.log
docker-compose.yml

# Nodeks

server/models/validator/*
node_modules
.next

.error

.env

Backend/.env

*.test.*
*.private.*

# Python

__pycache__

# Docker

Voluemes/Bot
Volumes/Backend
./openFile.cpp
Storage
dist
.vercel
.env*.local

spec

settings.yml