:root {
  --bs-body-color: #131b21;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: var(--bs-body-color);
}

nav[class=navbar] {
  display: flex;
  padding: 10px;
  background-color: var(--gray-4);
  justify-content: flex-end;
}
